@charset "UTF-8";

/* 共通部分 */

.containar{
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
}

a{
    color: #646464;
    text-decoration: none;
}

li{
    list-style-type: none;
}

.text-1{
    font-size: 22px;
    font-weight: bold;
    color: #449eab;
}
.text-2{
    font-size: 16px;
    font-weight: normal;
    color: #000;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-left: 3px solid #449eab;
    margin-bottom: 20px;
    background-image: linear-gradient(180deg, rgba(233, 233, 233, 0.43) 50%, rgba(172, 172, 172, 0.43));
}

.text-3{
    font-size: 18px;
    font-weight: normal;
    color: #449eab;
    margin-bottom: 20px;
}

.TEL-1{
    font-size: 20px;
    color: #449eab;
}
.dec-1{
    font-size: 14px;
    color: #646464;
    letter-spacing: 1.2px;
    line-height: 2;
}
.dec-2{
    font-size: 12px;
    color: #646464;
    letter-spacing: 1.2px;
    line-height: 2;
}

table{
    border-collapse: collapse; 
    width: 100%;   
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

th, td{
    border: 1px solid #ccc;
    font-weight: normal;
    padding: 10px 40px;
}

th{
    background-color: #F5FEFF;
}
/* header */

header{
    border-top: 5px solid #449eab;
    padding: 20px 0 0;
}

.header-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.heder-right{
    display: none;
    cursor: pointer;
}

.burger{
    width: 100%;
}

.burger .line{
    width: 25px;
    height: 3px;
    background-color: #449eab;
    margin: 5px;
    margin-left: auto;
}

.header-nav-item{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header-nav-item a{
    display: block;
    padding: 5px;
}

.header-nav-list{
    width: 20%;
    text-align: center;
    display: block;
    border-right: 1px solid #ccc;
}
.header-nav-list-selected{
    color: #449eab;
    width: 20%;
    text-align: center;
    display: block;
    border-right: 1px solid #ccc;
}

.header-nav-list-selected a{
    color: #449eab;
}

.header-nav-list:hover{
    background-color: #449eab;
}

.header-nav-list a:hover{
    color: #fff;
}

.header-nav-list:last-child{
    border-right: none;
}


/* contents */

/* ホーム */
.contents-top{
    border-bottom: 1px solid #449eab;
}
.contents-img{
    display: flex;
    margin:0 auto 40px auto;
}
.img-1 img{
    width: 100%;
    height: 540px;
}

.contents-section{
    margin-top: 40px;
    padding-bottom: 50px;
}

.section-nav{
    
}

.section-nav-item{

}

.section-nav-list{
    padding: 35px 10px;
    border-bottom: 1px dotted #ccc;
}
.section-nav a:hover{
    text-decoration: underline;
}
.section-nav-list span{
    margin-right: 20px;
    font-size: 14px;
}
.section-nav-bottom{
    float: right;
}

/* 院長紹介 */
#director{
    border-top: 1px solid #449eab;
    padding-top: 20px;
}
#director a:hover{
    text-decoration: underline;
}
#director .contents-section{
    margin-top: 20px;
}
#director table{
    text-align: left;
}
#director th, td{
    padding: 15px 10px;
}
.section-item{
    display: flex;
    justify-content: space-between;
}
.section-left{
    width: 100%;
    margin-right: 20px;
}
.section-left img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.section-left p{
    text-align: right;
}
.section-right{
    width: 100%;
}

/* footer */
footer{
    border-top: 5px solid #449eab;
    padding: 20px 0;
    background-color:  #F5FEFF;
}

.footer-item{
    display: flex;  
    align-items: flex-end; 
    justify-content: space-between;
}
.footer-nav{
    
}

.footer-nav-item{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
}

.footer-nav-item a{
    display: block;
}
.footer-nav-item a:hover{
    text-decoration: underline;
}

.footer-nav-list{
    text-align: center;
    display: block;
    border-right: 1px solid #ccc;
    padding: 0 20px;
}
.footer-nav-list:first-child{
    border-left: 1px solid #ccc;
}

.footer-copy{
    text-align: center;
    padding-top: 30px;
}


/* モバイル版 */
@media(max-width:1050px){
    /* 共通 */
    .th, td{
        padding: 20px 30px;
    }
    /* header */  
    header{
         margin:0px 10px;
    }
    /* ホーム */
    /* contents */
    .img-1 img{
        width: 100%;
        height: auto;
    }
    .contents-section{
        margin:20px 10px 0 10px;
    }
    /* 院長紹介 */
    .contents-link{
        margin:0 10px;
    }

    .section-left img{
        width: 100%;
        height: auto;
    }
    /* footer */
    .footer-item{
        margin:0px 10px;
    }
}

@media(max-width:600px){
    /* 共通 */
    th, td{
        padding: 30px 20px;
    }
    /* header */
    header .dec-2{
        display: none;
    }
    .header-title{
        display: block;
    }
    .header-item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .heder-right{
        display: block;
    }
    .header-TEL{
        text-align: right;
    }
    .header-nav{
        display: none;
    }
    /* ホーム */
    /* contents */
    .img-1 img{
        margin-top: 10px;
    }
    .contents-top{
        border-bottom: none;
    }
    
    .section-nav{
        font-size: 14px;
    }
    .section-nav-list span{
        color: #449eab;
        display: block;
        border-bottom: 1px dotted #646464;
        margin-bottom: 20px;
    }
    .section-nav-list{
        border-bottom: none;
        padding: 10px ;
    }
    /* 院長紹介 */
    .section-item{
        display: block;
    }

    /* footer */
    .footer-nav{
        display: none;
  }

}

